* {
    font-family: monospace;
    color: hsl(145, 82%, 25%)
}

html, body {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    padding-top: 30vmin;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, p {
    display: block;
    text-align: center;
}

h1 {
    margin-top: 3rem;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

p {
    font-weight: 700;
    font-size: 1.3rem;
}

button {
    position: relative;
    padding: 3rem;
    font-weight: 700;
    font-size: 1.8rem;
    background-color: transparent;
    border: 3rem solid hsla(145, 82%, 25%, 0.1);
}